  <tr>
    <td class="name">
      <img src=<%= "/assets/products/#{basket_item.product.code.downcase}.jpeg" %>>
      <%= basket_item.product.name %>
    </td>
    <td><%= basket_item.product.price %> €</td>
    <%= form_with model: basket_item, local: false do |f| %>
      <%= f.hidden_field :id, value: basket_item.id %>
      <%= f.hidden_field :product_id, value: basket_item.product.id %>
      <td><%= f.number_field :quantity, value: basket_item.quantity.to_i, min: 1 %> </td>
      <td><%= basket_item.total_price %> €</td>
      <td>
        <%= f.submit "Update Basket" %>
        <%= link_to "Remove Items", basket_item, method: :delete, remote: true %>
      </td>
    <% end %>
</tr>
